compiz-1/
composer/
configstore/
dconf/
fish/fish_history.*
fish/local.fish
gedit/
gh/hosts.yml
gnome-control-center/
gtk-2.0/
gtk-3.0/
helm/
ibus/
libaccounts-glib/
nautilus/
pulse/
software-center/
thefuck/
unity/
vim/undo/
wslu/
.nuxtrc
