:root {
    --sk_foreground_high: 171, 178, 191;
    --sk_foreground_high_solid: 134, 134, 134;
    --sk_foreground_low: 171, 178, 191;
    --sk_foreground_low_solid: 59, 64, 72;
    --sk_foreground_max: 171, 178, 191;
    --sk_foreground_max_solid: 171, 178, 191;
    --sk_foreground_min: 171, 178, 191;
    --sk_foreground_min_solid: 59, 64, 72;
    --sk_highlight: 0, 133, 221;
    --sk_highlight_accent: 29, 155, 209;
    --sk_highlight_hover: 255, 255, 255;
    --sk_inverted_background: 171, 178, 191;
    --sk_inverted_foreground: 40, 44, 52;
    --sk_primary_background: 40, 44, 52;
    --sk_primary_foreground: 171, 178, 191;
    --sk_secondary_highlight: 242, 199, 68;
}
